@using VeteranAnalyticsSystem.Models.Core
@model Survey

@{
    ViewData["Title"] = "Survey Details";
}

<div class="container mt-4">
    <h2 class="mb-4">Survey Details (ID: @Model.Id)</h2>

    <div class="card mb-4">
        <div class="card-header">
            Basic Information
        </div>
        <div class="card-body">
            <p class="card-text">
                <!-- Removed Email Field -->
                <strong>Survey Type:</strong> @Model.SurveyType <br />
                <strong>Submission Date:</strong> @Model.DisplaySubmissionDate
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Survey Responses
        </div>
        <div class="card-body">
            <div>
                <strong>Please identify yourself with a unique 4-digit code you will easily remember:  </strong>
                <p>@Model.SelfIdentifier</p>
            </div>

            <div>
                <strong>How would you rate your level of emotional connection with your support person/veteran?</strong>
                <p>@Model.EmotionalConnection</p>
            </div>

            <div>
                <strong>How would you rate your ability to resolve conflict with your support person/veteran?</strong>
                <p>@Model.ConflictResolution</p>
            </div>

            <div>
                <strong>How likely are you to share your past struggles with your support person/veteran?</strong>
                <p>@Model.PastStruggles</p>
            </div>

            <div>
                <strong>How likely are you to step outside of your comfort zone to try to things?</strong>
                <p>@Model.ComfortZone</p>
            </div>

            <div>
                <strong>Please rate your motivation to seek private, government, or nonprofit support for your mental wellness and personal growth opportunities such as counseling, therapy, or programs like MSR and Warrior PATHH.</strong>
                <p>@Model.Rating</p>
            </div>
        </div>
    </div>
</div>
